body {
    margin: 0;
    color: #ffffff;
    background: url('../assets/images/bg-media.7.jpg') #000000 no-repeat;
    font: 15px / 1.4 sans-serif;
    font-family: 'ProximaNova', 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

a, a:hover, a:visited {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
}

h1.red {
    color: #e71a27;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content {
    width: 100%;
    padding: 20px;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 1024px;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul.menu {
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

ul.menu > li {
    margin: 10px;
    width: calc(25% - 20px);
    padding: 0;
    background-color: rgba(43, 43, 52, 1);
    border-radius: 5px;
    display: block;
    float: left;
}

ul.menu > li:hover {
    background-color: rgba(43, 43, 52, 1);
    transition: background .4s;
}

ul.menu > li a {
    position: relative;
    height: 76px;
    display: table;
    margin-left: 76px;
    text-align: center;
    width: calc(100% - 76px);
}

ul.menu > li a.active {
    cursor: default;
}

ul.menu > li a svg {
    position: absolute;
    top: 0;
    left: -76px;
    padding: 10px;
    width: 76px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px 0 0 5px;
    transition: background .4s;
}

ul.menu > li a:hover svg {
    background-color: rgba(43, 43, 52, 1);
}

ul.menu > li a.active svg {
    background-color: #a5abaf;
}

ul.menu > li a svg path {
    fill: rgba(43, 43, 52, 1);
    transition: fill .5s;
}

ul.menu > li a:hover svg path {
    fill: #e71a27;
}

ul.menu > li a.active svg path {
    fill: #e71a27;
}

ul.menu > li a span {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    transition: color .4s;
    border-radius: 0 5px 5px 0;
}

ul.menu > li a span:hover {
    color: #ffffff;
}

ul.menu > li a.active span {
    color: #2b2b34;
    background-color: #a5abaf;
}

span style {
    font-family: "Comic Sans MS", fantasy;
}


footer {
    border-top: 1px solid rgba(165, 165, 165, 0.9);
    margin: 10px;
    text-align: center;
}

.footer-images img {
    margin: 20px;
    max-height: 80px;
}

ul.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.footer-menu li {
    display: inline-block;
    text-transform: lowercase;
    margin-right: .5em;
}

ul.footer-menu li a {
    font-size: .9em;
    color: rgba(225, 225, 225, 0.9);
}

.center-txtblock {
    margin: 0 auto;
    width: 80%;
}

.m-t-2 {
    margin-top: 2em;
}

.m-t-4 {
    margin-top: 4em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid .block {
    width: calc(33% - 40px);
    transition: opacity .3s;
    min-width: 250px;
    margin: 10px;
}

.grid .block:not(.monster) {
    opacity: .7;
}

.grid .block:hover {
    opacity: 1;
    cursor: pointer;
}

.grid.gallery .block img {
    width: 100%;
}

.grid.col-2 .block {
    width: calc(50% - 40px);
}

.grid.col-3 .block {
    width: calc(33% - 40px);
}

p.book-desc {
    text-align: justify;
    font-size: .9em;
}

p.game-desc {
    text-align: justify;
    font-size: .9em;
}

.book-front {
    margin: 0 auto;
    width: 250px;
    height: auto;
}

.game-front {
    margin: 0 auto;
    width: 250px;
    height: auto;
}

.monster img {
    width: 60%;
}

.bestiary h1 {
    font-size: 30px;
    padding: 0 5px 0 5px;
    background-color: #52050e;
    display: inline-block;
}

.weakness {
    border: 1px solid red;
    width: auto;
    position: relative;
    padding-top: 10px;
}

.weakness span {
    position: absolute;
    top: -10px;
    left: calc(50% - 25px);
    background-color: black;
    color: red;
}

span.first_word {
    color: #e71a27;
}

section.contracts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.contracts > div {
    flex: 0 0 60%;
    padding: 0 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

section.contracts .add {
    flex: 0 0 20%;
    height: max-content;
}

section.contracts .add textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
}

.contract {
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
}

.contract:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.contract.template {
    display: none !important;
}

.contract > div {
    flex: 1 0 300px;
}


.contract.accepted .info .icon {
    color: white;
}

.contract.finished .info .icon {
    color: rgba(225, 225, 225, 0.32);
}

.contract:hover {
    border: 1px solid white;
}

.contract .info {
    min-height: 56px;
}

.contract .info .icon {
    display: inline-block;
    width: 5%;
    font-size: 40px;
    color: yellow;
}

.contract .info .title {
    display: inline-block;
    width: 90%;
    vertical-align: super;
    color: yellow;;
}

.contract.accepted .info .title {
    color: white;
}

.contract.finished .info .title {
    color: rgba(225, 225, 225, 0.32);
}

.contract .buttons {
    line-height: 50px;
    text-align: right;
    flex: 0 0 200px;
}

.btn {
    color: white;
    background-color: #34343e;
    border: 1px solid #000000;;
    padding: 8px 8px 10px 10px;
    vertical-align: center;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2b2b34;

}

.btn.centered {
    margin: 0 auto;
    display: block;
}

.btn.smooth {
    border-radius: 5px;
}

.btn.fluid {
    width: 100%;
}

.btn.mini {
    padding: 4px 4px 5px 5px;
    vertical-align: center;
    font-size: 14px;
}

.btn.red {
    background-color: #e71a27;
}

.btn.red:hover {
    background-color: #9c161e;
}

.btn.green {
    background-color: #19b819;
}

.btn.green:hover {
    background-color: #138913;
}

.btn.blue {
    background-color: #1d86ec;
}

.btn.blue:hover {
    background-color: #1d72c6;
}

.hidden {
    display: none !important;
}

@media (max-width: 1200px) {
    ul.menu > li {
        width: calc(50% - 20px);
    }

    .grid .block {
        width: calc(50% - 40px) !important;
    }

    section.contracts > div {
        flex: 0 0 100% !important;
    }
}

@media (max-width: 760px) {
    ul.menu > li {
        width: calc(100% - 20px);
    }

    .grid .block {
        width: calc(100%) !important;
    }

    .content {
        padding: 10px 0 0 0;
    }
}

@media (max-width: 570px) {
    .contract .buttons {
        flex: 0 0 100%;
    }

    .contract .buttons button {
        width: 100%;
        display: block;
    }

    ul.footer-menu li {
        display: block;
    }
}